﻿@*Компонент "Заметки"*@

@page "/notes"

<div class="card h-100">
    <div class="card-header">
        <div class="row">
            <div class="col text-start align-self-center text-decoration-none ps-2 pe-0">
                <span class="text-muted border-end fw-bold fs-6">
                    Заметки
                </span>
                <span class="badge text-muted fw-normal border-0 p-0 ms-2"
                      title="Общее количество заметок">
                    <i class="bi bi-journal-text"></i>
                    @objectNotes.Count()
                </span>
            </div>
        </div>
    </div>
    <div class="card bg-light border-0 m-2">
        <div class="card-body p-3">
            <div class="bg-light border-0 ps-1 pt-0 pb-1">
                Название заметки
            </div>
            <div class="row mb-2">
                <div class="col">
                    <input class="form-control"
                           maxlength="50"
                           title="Введите название заметки"
                           placeholder="Введите название заметки"
                           @bind-value="objectNote.Title">
                    </input>
                </div>
            </div>
            <div class="bg-light border-0 ps-1 pt-0 pb-1">
                Описания заметки
            </div>
            <div class="row">
                <div class="col">
                    <input class="form-control"
                           maxlength="150"
                           title="Введите описание заметки"
                           placeholder="Введите описание заметки"
                           @bind-value="@objectNote.Content" />
                </div>
            </div>
            <div class="bg-light border-0 ps-1 pt-2 pb-1">
                Выберете теги
            </div>
            <div class="row">
                <div class="col">
                    <select class="form-select form-select-sm w-100"
                            multiple
                            aria-label="multiple select example"
                            name="tqgs[]"
                            @onchange="((e)=> SelectedTagsChanged(e))">
                        <option value="null" disabled>Выберете теги</option>
                        
                            @foreach (Tags itemTags in objectTags)
                         {
                            
                                <option value="@itemTags.Id" >@itemTags.Name</option>
                            } 
                         
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col pt-2">
                    <button class="btn btn-sm btn-primary"
                            title="Добавить"
                            @onclick="@(()=>AddOrUpdateNote())">
                        Добавить
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="card bg-light border-0 m-2 h-100">
        @if (objectNotes?.Any() ?? false)
        {
            <div class="card-body p-0 h-100" style="overflow-y:auto; overflow-x:hidden;">
                <div class="row row-cols-1 row-cols-md-5 g-4 p-3">
                    @foreach (Notes itemNote in objectNotes)
                    {
                        <div class="col">
                            <div class="card rounded hover-cursor">
                                <div class="card-body position-relative">
                                    <div class="row row-cols-1 row-cols-md-3 g-4 p-3">
                                        <div class="col">
                                            <small class="position-absolute top-0 start-0 badge border-0 text-muted p-0 m-2 fw-normal">
                                                @foreach (Tags itemTags in itemNote.Tags)
                                                {
                                                    <small class="badge border text-muted p-1 m-2 fw-normal"
                                               title="Наименование тега">
                                                        @itemTags.Name
                                                    </small>
                                                }
                                            </small>
                                        </div>
                                    </div>
                                    @if (itemNote.Content is not null)
                                    {
                                        <small class="position-absolute top-0 end-0 badge border-0 text-muted p-0 m-2 fw-normal"
                                   title="Описание:  @itemNote.Content">
                                            <i class="bi bi-info-circle"></i>
                                        </small>
                                    }
                                    <div class="row mt-0">
                                        <div class="col text-center">
                                            <p class="m-0 text-truncate"
                                       title="Наименование заметки">
                                                @itemNote.Title
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer bg-light">
                                    <div class="row">
                                        <div class="col text-start ps-1 pe-0">
                                            <small class="badge border-0 text-muted p-0 m-2 fw-normal"
                                           title="Дата и время создания (@itemNote.DateCreate.ToString("dd.MM.yy HH:mm"))">
                                                @itemNote.DateCreate.ToString("dd.MM.yy")
                                            </small>
                                        </div>
                                        <div class="col-auto pe-1 text-center align-self-center">
                                            <div class="btn-group" role="group">
                                                <button class="btn btn-primary btn-sm me-2"
                                                title="Редактирование заметки"
                                                @onclick="(()=>EditNoteValue(itemNote))">
                                                    <i class="bi-pencil"></i>
                                                </button>
                                                <button class="btn btn-danger btn-sm"
                                                title="Удаление заметки"
                                                @onclick="(()=>DeleteNote(itemNote.Id))">
                                                    <i class="bi-trash"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
        else
        {
            <div class="card-body align-items-center d-flex justify-content-center h-100 p-0">
                <div class="row">
                    <div class="col text-center">
                        <p class="text-center mb-0 fs-3 text-muted">
                            <i class="bi bi-journal-text"></i>
                        </p>
                        <p class="text-muted mb-0">
                            Заметок не найдено
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
