﻿@*Шаблон компонента "Напоминание"*@

@page "/Reminder"

<div class="card h-100">
    <div class="card-header">
        <div class="row">
            <div class="col text-start align-self-center text-decoration-none ps-2 pe-0">
                <span class="text-muted border-end fw-bold fs-6">
                    Напоминания
                </span>
                <span class="badge text-muted fw-normal border-0 p-0 ms-2"
                      title="Общее количество заметок">
                    <i class="bi bi-journal-text"></i>
                    @ObjectReminders.Count(item => !item.IsDone)
                </span>
            </div>
        </div>
    </div>
    <div class="card bg-light border-0 m-2">
        <div class="card-body p-3">
            <div class="bg-light border-0 ps-1 pt-0 pb-1">
                Название напоминания
            </div>
            <div class="row mb-2">
                <div class="col">
                    <input class="form-control"
                           maxlength="50"
                           title="Введите название напоминания"
                           placeholder="Введите название напоминания"
                           @bind-value="@ObjectReminder.Name">
                    </input>
                </div>
            </div>
            <div class="bg-light border-0 ps-1 pt-0 pb-1">
                Дата уведомления напоминания
            </div>
            <div class="row">
                <div class="col">
                    <input type="datetime-local"
                           class="form-control"
                           title="Введите дату уведомления"
                           placeholder="Введите дату уведомления"
                           @bind-value="@ObjectReminder.DateReminder" />
                </div>
            </div>
            <div class="row">
                <div class="col pt-2">
                    <button class="btn btn-sm btn-primary"
                            title="Добавить"
                            @onclick="@(()=>AddOrUpdateReminder())">
                        Добавить
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="card bg-light border-0 m-2 h-100">
        @if (ObjectReminders?.Any() ?? false)
        {
            <div class="card-body p-0 h-100" style="overflow-y:auto; overflow-x:hidden;">
                <div class="row row-cols-1 row-cols-md-5 g-4 p-3">
                    @foreach (Reminders itemReminders in ObjectReminders)
                    {
                        <div class="col">
                            <div class="card rounded hover-cursor">
                                <div class="card-body position-relative">
                                    <div class="row row-cols-1 row-cols-md-3 g-4 p-1">
                                        <div class="col">
                                            <small class="position-absolute top-0 start-0 badge border-0 text-muted p-0 m-2 fw-normal">
                                                <small class="badge border text-muted p-1 m-2 fw-normal">
                                                    Уведомление: @itemReminders.DateReminder
                                                </small>
                                            </small>
                                        </div>
                                    </div>
                                    <small class="position-absolute top-0 end-0 badge border-0 text-muted p-0 m-2 fw-normal"
                                   title="Описание">
                                        @if (!itemReminders.IsDone)
                                        {
                                            <input type="checkbox" class="form-check-input" value="@itemReminders.IsDone" @onchange="(()=>StatusChangerReminder(itemReminders))" />
                                        }
                                        else
                                        {
                                            <input type="checkbox" class="form-check-input" checked value="@itemReminders.IsDone" @onchange="(()=>StatusChangerReminder(itemReminders))" />
                                        }
                                    </small>
                                    <div class="row mt-3">
                                        <div class="col text-center">
                                            <p class="m-0 text-truncate">
                                            <p class="@(itemReminders.IsDone ? "text-success text-decoration-line-through" : "text-dark")">@itemReminders.Name</p>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer bg-light">
                                    <div class="row">
                                        <div class="col text-start ps-1 pe-0">
                                            <small class="badge border-0 text-muted p-0 m-2 fw-normal">
                                                @itemReminders.DateCreate
                                            </small>
                                        </div>
                                        <div class="col-auto pe-1 text-center align-self-center">
                                            <div class="btn-group" role="group">
                                                <button class="btn btn-primary btn-sm me-2"
                                                title="Редактирование напоминаний"
                                                @onclick="(()=>EditReminderValue(itemReminders))">
                                                    <i class="bi-pencil"></i>
                                                </button>
                                                <button class="btn btn-danger btn-sm"
                                                title="Удаление напоминаний"
                                                @onclick="(()=>DeleteReminder(itemReminders.Id))">
                                                    <i class="bi-trash"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
        else
        {
            <div class="card-body align-items-center d-flex justify-content-center h-100 p-0">
                <div class="row">
                    <div class="col text-center">
                        <p class="text-center mb-0 fs-3 text-muted">
                            <i class="bi bi-bell"></i>
                        </p>
                        <p class="text-muted mb-0">
                            Напоминаний не найдено
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>