﻿@*Шаблон компонента "Теги"*@

@page "/tags"

<div class="card h-100">
    <div class="card-header">
        <div class="row">
            <div class="col-auto text-start align-self-center text-decoration-none ps-2 pe-0">
                <span class="text-muted border-end fw-bold fs-6">
                    Теги
                </span>
                <span class="badge text-muted fw-normal border-0 p-0 ms-2"
                      title="Общее количество тега">
                    <i class="bi bi-tags"></i>
                    @objectTags.Count()
                </span>
            </div>
        </div>
    </div>
    <div class="card bg-light border-0 m-2">
        <div class="card-body p-3">
            <div class="bg-light border-0 ps-1 pt-0 pb-1">
                Добавление нового тега
            </div>
            <div class="row mb-2">
                <div class="col">
                    <input class="form-control"
                           maxlength="50"
                           title="Введите название тега"
                           placeholder="Введите название тега"
                           @bind-value="@objectTag.Name">
                    </input>
                </div>
            </div>
            <div class="row">
                <div class="col pt-1">
                    <button class="btn btn-sm btn-primary"
                            title="Добавить"
                            @onclick="@(()=>AddOrUpdateTag())">
                        Добавить
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="card bg-light border-0 m-2 h-100">
        @if (objectTags?.Any() ?? false)
        {
            <div class="card-body p-3 h-100"
             style="overflow-y:auto; overflow-x:hidden;">
                <div class="row">
                    <div class="col">
                        @foreach (Tags itemTag in objectTags)
                        {
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item list-group-item-action border ps-2 pe-2">
                                    <div class="row">
                                        <div class="col text-truncate border-end">
                                            <span class="text-start"
                                          title="Наименование тэга">
                                                @itemTag.Name
                                            </span>
                                        </div>
                                        <div class="col-auto align-self-auto btn-group-sm text-truncate">
                                            <button class="btn btn-primary me-2"
                                            title="Реадктирование тега"
                                            @onclick="(()=>EditTagValue(itemTag))">
                                                <i class="bi-pencil"></i>
                                            </button>
                                            <button class="btn btn-danger me-2"
                                            title="Удаление тега"
                                            @onclick="(()=>DeleteTag(itemTag.Id))">
                                                <i class="bi-trash"></i>
                                            </button>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        }
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="card-body align-items-center d-flex justify-content-center h-100 p-0">
                <div class="row">
                    <div class="col text-center">
                        <p class="text-center mb-0 fs-3 text-muted">
                            <i class="bi bi-tags"></i>
                        </p>
                        <p class="text-muted mb-0">
                            Тегов не найдено
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>