﻿@*Шаблон компонента "Главный макет"*@

@inherits LayoutComponentBase

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-auto bg-light sticky-top p-0 border-end">
            <NavMenu />
        </div>
        <div class="col-sm vh-100 position-relative d-flex flex-column ps-1 pe-1">
            <div class="h-100 position-relative px-1 py-1 ps-1 pe-1">
                @Body
            </div>
        </div>
    </div>
</div>