﻿@*Шшаблон компонента "Боковое меню"*@

<div class="d-flex flex-column flex-shrink-0">
    <div class="text-center mx-auto border-bottom p-2">
        <a href="/" class="align-self-center link-dark text-decoration-none">
            <span class="btn btn-primary text-center">
                <i class="bi bi-house"></i>
            </span>
        </a>
    </div>
    <div class="btn-group-vertical p-3">
        <a href="/tags" class="align-self-center link-dark text-decoration-none pb-3">
            <span class="btn btn-primary text-center">
                <i class="bi bi-tags"></i>
            </span>
        </a>
        <a href="/notes" class="align-self-center link-dark text-decoration-none pb-3">
            <span class="btn btn-primary text-center">
                <i class="bi bi-journal-text"></i>
            </span>
        </a>
        <a href="/reminder" class="align-self-center link-dark text-decoration-none pb-3">
            <span class="btn btn-primary text-center">
                <i class="bi bi-bell"></i>
            </span>
        </a>
    </div>
</div>