﻿@*Шаблон компонента "Главная страница"*@

@page "/"

<div class="card d-flex h-100">
    <div class="card-body align-items-center d-flex justify-content-center h-100 p-0">
        <div class="row">
            <div class="col text-center">
                <p class="text-center mb-0 fs-3 text-muted">
                    Здравствуйте!
                </p>
                <p class="text-muted mb-0">
                    Для того, чтобы начать работать с заметками, выберите один из пунктов меню слева!
                </p>
            </div>
        </div>
    </div>
</div>